a
{
    color:#000000;
}

#azul {
    background-color: #1A3C50;
    text-align: center;
    empty-cells: show;
    border-style: solid;
    border-width: 5px;
    border-color: #1A3C50;
}

.nav-tabs{
  background-color: #1A3C50;
  color:#000000;
  border: none;
}
.tab-content{
    background-color:#fffde7 !important;
    color:#000000;
    padding:5px
}

.tab-content > .active {
    display: block;
    min-height: 200px;
}

.nav-tabs > li > a{
  color:#ffffff;
  margin: 0px;
  text-align: center;
}

.nav-tabs > li > a:hover{
    background-color: #fffde7 !important;
    border-radius: 0px 0px 0 0;
    border: 1px solid #fffde7;
    color:#000000;
}

.nav-tabs > li > a:focus{
    background-color:#fffde7 !important;
    border-radius: 0px 0px 0 0;
    outline: none;
    color:#000000;
}

.nav-tabs > li.active > a{
    background-color:#fffde7 !important;
    border-radius: 0px 0px 0 0;
    border: 1px solid #fffde7;
    color:#000000;
}

.nav-tabs > li.active > a:focus{
    color:#000000;
    border: 1px solid #fffde7;
}

.nav-tabs > li.active > a:hover{
    color:#000000;
    border: 1px solid #fffde7;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    padding-right: 0px;
    padding-left: 0px;
}

#animal_1 {
    background-color: #fffde7;
    empty-cells: show;
    border-style: solid;
    border-width: 20px;
    border-color: #fffde7;
}

.centrar{
    text-align: center;
}

.meio{
    vertical-align: middle;
}

.parent2 {position: relative;}

.child2 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    margin: 0% 0 0 0%;

    font-family: "Segoe UI",Arial,sans-serif;
}

.parent2 {position: relative;}

.child2 {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    margin: 0% 0 0 0%;

    font-family: "Segoe UI",Arial,sans-serif;
}

.espacamento{
    line-height: 35px;
}

.LFont{
    font-size: 17px;
}

.SFont{
    font-size: 10px;
}

.experiencia{
    background: url(93_1.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
}



.unblur{
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    -o-filter: none;
    filter: none;
}

.roundedImage {
    margin: 0% 0 0 20%;
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:200px;
    height:200px;
}

.background-image {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: 300px;

  -webkit-filter: blur(5px) opacity(30%);
  -moz-filter: blur(5px) opacity(30%);
  -o-filter: blur(5px) opacity(30%);
  -ms-filter: blur(5px) opacity(30%);
  filter: blur(5px) opacity(30%);
}

.background-image2 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: 300px;
}

.content1 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 5%;
  margin-top: 5%;
}

.content2 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 40%;
  margin-top: 7%;
}

.content3 {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin-left: 60%;
  margin-top: 7%;
}

.content4 {
  position: relative;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 300px;
}

.navbar{
    border-radius: 0px;
    margin-bottom: 0px;
}

.navbar-brand{
    padding: 5px 5px;
}

.navbar-nav > li > a{
    padding-top: 0px;
    padding-bottom: 0px;
}

.navbar-nav > li {
    padding-top: 7px;
}

.navbar-inverse{
    background-color: #1A3C50;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
    background-color: #1A3C50;
}

.esp{
    padding-bottom: 2px;
}

.esp2{
    padding-bottom: 1px;
}


/* TABELA DINAMICA HOME */

* { box-sizing: border-box; }

/* force scrollbar */
html { overflow-y: scroll; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  height: 25%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}